/* Reset some default styles for the page */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
    text-align: center;
}

/* Style the header */
header {
    background-color: #2c3e50;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(206, 31, 31, 0.2);
    border-top: 1.5px solid #e65342;
    border-bottom: 1.5px solid #e74c3c;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
}

/* Logo styles */
.logo img {
    width: 100px;
}

/* Menu icon styles for responsive design */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

/* Main menu styles */
.menu {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.menu li {
    margin-right: 20px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px 15px; /* Add some padding for a larger clickable area */
    border-radius: 5px; /* Add rounded corners */
    font-size: 18px;
}

.menu a:hover {
    background-color: #e74c3c; /* Change the background color on hover */
    color: white;
}

/* Style the footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 1.5px solid #e65342;
    border-bottom: 1.5px solid #e74c3c;
}


/* About page styles */
.about-image img {
    max-width: 65%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.about-image img:hover {
    transform: scale(1.05);
}

.about-content {
    background-color: #fff;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
}

/* Call to action section styles */
.cta-section {
    padding: 40px 0;
}

cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    color: #e74c3c;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

cta-button:hover {
    background-color: #e74c3c;
    color: white;
}

/* Carousel styles */
.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-slide {
    display: none;
    width: 100%;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }

  /* Previous and Next buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }


  
/* Grid section styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .grid-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
  }
  
  .grid-item img {
    max-width: 100%;
  }
  
  .grid-item a {
    text-decoration: none;
    color: #333;
  }
  
  .grid-item a:hover {
    color: #e74c3c;
  }
  
 
  
  
  .order-button {
    display: block;
    width: 100%;
    background-color:  #c73f31;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .order-button:hover {
    background-color: #b0392c;
  }
  
  
/* styles for the text */
.text-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.text-container h2 {
    font-size: 36px;
    font-weight: bold;
    color: #e74c3c;
}

.text-container p {
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
}

.logo img {
    display: none;
}

/* Style the "Feed Me" button */
.menu li:last-child a {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.menu li:last-child a:hover {
    background-color: #c73f31; 
}



/* Form container styles */
.formtext-container {
    text-align: left;
    background-color: #fff; 
    padding: 20px;
    max-width: 600px; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.formtext-container h2 {
    font-size: 28px;
    font-weight: bold;
    color: #e74c3c; 
}

.formtext-container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333; 
}

.formtext-container input[type="text"],
.formtext-container input[type="tel"],
.formtext-container input[type="email"],
.formtext-container select,
.formtext-container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.formtext-container select {
    background-color: #f4f4f4; 
}

.formtext-container textarea {
    resize: vertical;
}

.formtext-container button {
    display: block;
    width: 100%;
    background-color: #e74c3c; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.formtext-container button:hover {
    background-color: #c73f31; 
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url('images/man-hand-pours-larger-beer-glass-standing-vintage-table-blurred-counter-bar-jar-pickles.jpg');
    background-size: cover;
    filter: blur(10px);
}


  /* Add styles for dishes (menu page )*/
  
  .dish-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.dish-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.dish-item img {
    max-width: 100%;
}

.dish-item a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dish-item a:hover {
    color: #e74c3c;
}

/* Add styles for dish names and costs */
.grid-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

.grid-item p {
    font-size: 18px;
    color: #e74c3c;
    font-weight: bold;
    margin: 10px 0;
}

/* Header styles */
header .sign-in-up {
    display: flex;
    align-items: center;
}

header .sign-in-up button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff6b6b, #e74c3c);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(231, 76, 60, 0.2);
}


header .sign-in-up button:hover {
    background: linear-gradient(45deg, #e74c3c, #c0392b);
}

/* Popup container styles */
div.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}


/* Styling for the login and registration popups */

/* Login and Registration Container */
div.popup-container .popup, div.popup-container .register {
    background: linear-gradient(45deg, #fff, #f0f0f0);
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Login and Registration Title */
div.popup-container .popup h2, div.popup-container .register h2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #30475e;
}

/* Login and Registration Close Button */
div.popup-container .popup h2 button, div.popup-container .register h2 button {
    font-size: 20px;
    font-weight: 600;
    color: #797775;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

/* Login and Registration Input Fields */
div.popup-container .popup input, div.popup-container .register input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #30475e;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #30475e;
}

/* Login and Registration Submit Buttons */
div.popup-container .popup button.login-btn, div.popup-container .register button.register-btn {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(45deg, #30475e, #283845);
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.3s;
    box-shadow: 0px 5px 10px rgba(40, 56, 69, 0.2);
}

/* Hover effect for Submit Buttons */
div.popup-container .popup button.login-btn:hover, div.popup-container .register button.register-btn:hover {
    background: linear-gradient(45deg, #283845, #1f2b38);
}
